@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "colors";
@import "breakpoints";
$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    height: 150px;
    position: absolute;
    top: -20px;
}

.header {
    width: 20%;

    >h1 {
        font-size: 32px;
        color: $myBlack;
        font-weight: 500;
        width: 100%;
        margin-top: 0px;
    }

    .line {
        width: 80px;
        height: 5px;
        background: $myDarkGreen;
    }

    @media only screen and (max-width: $miniLaptop) {
        width: 60%;

        >h1 {
            font-size: 24px;
        }
    }
}

.splitter {
    height: 200px;
    width: 1px;
    background: #eee;

    @media only screen and (max-width: $miniLaptop) {
        display: none;
    }
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;

    @media only screen and (max-width: $miniLaptop) {
        width: 90vw;
    }
}

.holder {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.landing {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    >h1 {
        font-size: 48px;
        width: 60%;
        font-weight: lighter;
        color: $myBlack;
        margin: 0px;

        >span {
            font-weight: bold;
            color: $myDarkGreen;
        }
    }

    >p {
        font-size: 18px;
        color: $myGrey;
    }

    @media only screen and (max-width: $miniLaptop) {
        >h1 {
            width: 100%;
            font-size: 36px;
        }

        >p {
            font-size: 16px;
        }
    }
}

.story {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .holder {
        >p {
            width: 65%;
            font-size: 18px;
            color: $myPara;
            margin-top: 0px;
            text-align: justify;
        }

        @media only screen and (max-width: $miniLaptop) {
            flex-direction: column;

            >p {
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}

.banner {
    background: $myLightGreen;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;

    >img {
        height: 100%;
        margin-right: 5%;
    }

    >div {
        // height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .review {
        >q {
            font-size: 32px;
            font-style: italic;
        }

        >p {
            font-size: 18px;
        }
    }

    @media only screen and (max-width: $miniLaptop) {
        flex-direction: column;
        height: auto;
        margin-bottom: 100px;

        >img {
            height: auto;
            width: 100%;
            margin: 0px;
            margin-bottom: 30px;
        }

        >div {
            width: 95%;
            margin: auto;
        }

        .review {
            >q {
                font-size: 24px;
            }

            >p {
                font-size: 16px;
            }
        }
    }
}

.features {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .holder {
        align-items: center;

        >.points {
            width: 50%;

            >.point {
                width: 80%;
                display: flex;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0px;
                }

                >img {
                    height: 50px;
                    margin-right: 30px;
                }

                >.content {
                    >h3 {
                        font-weight: 300;
                        font-size: 24px;
                        margin: 0px;
                    }

                    >p {
                        font-size: 14px;
                        color: $myPara;
                    }
                }
            }
        }

        >h1 {
            font-size: 42px;
            color: $myBlack;
            font-weight: 400;
            width: 20%;
        }
    }

    @media only screen and (max-width: $miniLaptop) {
        align-items: flex-start;
        justify-content: flex-start;

        .holder {
            flex-direction: column-reverse;

            >.points {
                width: 100%;

                >.point {
                    width: 100%;
                }
            }

            >h1 {
                font-size: 32px;
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
}

.products {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;

    .holder {
        flex-direction: column;

        .wrapper {
            margin-top: 100px;
            display: flex;
            justify-content: space-between;

            >img {
                width: 40%;
                height: 300px;
                object-fit: contain;
                object-position: top;
                border-radius: 5px;
            }

            >div {
                width: 50%;

                >h3 {
                    font-size: 24px;
                    margin: 0;
                    font-weight: 400;
                }

                >p {
                    margin: 0;
                    margin-bottom: 30px;
                }

                >.details {
                    color: $myDarkGreen;
                }

                >.description {
                    font-size: 16px;
                    color: $myPara;
                }
            }

            @media only screen and (max-width: $miniLaptop) {
                flex-direction: column;

                >img {
                    width: 100%;
                    margin-bottom: 50px;
                }

                >div {
                    width: 100%;
                }
            }
        }
    }

    .catalogue {
        width: 100%;
        margin-top: 50px;
        >h2{
            font-size: 24px;
        }
        >#productContainer {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            >.product {
                width: 22%;
                padding: 10px;
                border: 1px solid #eee;
                cursor: pointer;
                transition: 0.6s;
                >img {
                    height: 100px;
                    width: 100%;
                    object-fit: cover;
                }
                &:hover{
                    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
                }
                @media only screen and (max-width: $miniLaptop) {
                    width: 90%;
                    padding: 10px 5%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.help {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >.holder {
        flex-direction: column;

        >.boxes {
            margin-top: 50px;
            display: flex;
            flex-direction: row wrap;
            justify-content: space-between;
            width: 100%;

            >.box {
                min-width: 100px;
                width: 28%;
                padding: 15px 25px;
                border: 1px solid #f4f4f4;

                >h3 {
                    font-size: 20px;
                    font-weight: 400;
                }

                >p {
                    color: $myPara;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        @media only screen and (max-width: $miniLaptop) {
            >.boxes {
                flex-direction: column;

                >.box {
                    width: 90%;
                    padding: 5%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

footer {
    background: $myDarkGreen;
    height: 40vh;
    width: 100%;
    display: flex;

    >.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        >img {
            height: 150px;
        }

        >.details {
            display: flex;
            flex-direction: row;
            width: 40%;

            >.footerBox {
                width: 50%;
                margin-right: 20px;

                &:last-child() {
                    margin-right: 0px;
                }

                >h3 {
                    color: $myLightGreen;
                    font-weight: 400;
                }

                >p {
                    color: $myWhite;
                    margin: 5px 0px;
                    font-size: 14px;
                    font-weight: lighter;
                }
            }
        }
    }

    @media only screen and (max-width: $miniLaptop) {
        height: auto;
        padding: 30px 0px;

        .container {
            flex-direction: column;

            >.details {
                width: 100%;
                flex-direction: column;

                >.footerBox {
                    width: 100%;
                }
            }
        }
    }
}